:root {
  --color-basic: crimson;
  --color-background: #111;
  --color-background-lighter: #222;
  --color-white: #fff;
}
*,
*::after,
*::before {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 2.3rem;
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  text-align: justify;
  line-height: 1.5;
}
p {
  margin: 0;
}

a {
  text-decoration: none;
}

/*Typography*/

h1,
h2,
h3 {
  margin: 1rem 0;
  font-family: "Ubuntu", Arial, Helvetica, sans-serif;
}
h2,
h3 {
  font-weight: 500;
  padding-bottom: 2rem;
}

h2 {
  font-size: 3.5rem;
}

h3 {
  font-size: 2.5rem;
}

@media screen and (min-width: 1024px) {
  body {
    font-size: 2rem;
  }
  h1 {
    font-size: 7.5rem;
  }

  h2 {
    font-size: 4rem;
  }

  h3 {
    font-size: 3rem;
  }
}

/* button styling */

.btn {
  background: var(--color-basic);
  border-radius: 7px;
  border: 2px solid var(--color-basic);
  color: var(--color-white);
  font-weight: 500;
  outline: none;
  padding: 1rem 2rem;
  transition: all 0.3s ease;
}

.btn:hover {
  background: none;
  color: var(--color-basic);
}

/* title */

.title {
  position: relative;
  text-align: center;
  margin-bottom: 6rem;
}

.title::before {
  background-color: var(--color-background);
  bottom: 0px;
  content: "";
  height: 4px;
  left: 50%;
  position: absolute;
  transform: translateX(-50%);
  width: 17rem;
}

.title::after {
  content: "who i am";
  position: absolute;
  color: var(--color-basic);
  background: var(--color-white);
  left: 50%;
  bottom: -12px;
  padding: 1px 1rem;
  font-size: 1.8rem;
  transform: translateX(-50%);
}

@media screen and (min-width: 1024px) {
  .title::after {
    font-size: 2rem;
  }
}
