:root {
  --color-basic: crimson;
  --color-background: #111;
  --color-background-lighter: #222;
  --color-white: #fff;
}
*,
*::after,
*::before {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 2.2rem;
  font-family: "Poppins", Arial, Helvetica, sans-serif;

  line-height: 1.5;
}
p {
  margin: 0;
}

a {
  text-decoration: none;
}

section {
  padding: 10rem 0;
}

/*Typography*/

h1,
h2,
h3 {
  margin: 1rem 0;
  font-family: "Ubuntu", Arial, Helvetica, sans-serif;
}
h2,
h3 {
  font-weight: 500;
  padding-bottom: 2rem;
}
h1 {
  font-size: 6.5rem;
}
h2 {
  font-size: 3.5rem;
}

h3 {
  font-size: 2.5rem;
}

@media screen and (min-width: 1104px) {
  body {
    font-size: 2rem;
  }
  h1 {
    font-size: 7.5rem;
  }

  h2 {
    font-size: 4rem;
  }

  h3 {
    font-size: 3rem;
  }
}

/* button styling */

.btn {
  background: var(--color-basic);
  border-radius: 7px;
  border: 2px solid var(--color-basic);
  color: var(--color-white);
  display: inline-block;
  font-weight: 500;
  margin: 2rem 0;
  outline: none;
  padding: 1rem 4rem;
  transition: all 0.3s ease;
}

.btn:hover {
  background: none;
  color: var(--color-basic);
}

/* title */

.title {
  position: relative;
  text-align: center;
  margin-bottom: 6rem;
}

.title::before {
  background-color: var(--color-background);
  bottom: 0px;
  content: "";
  height: 4px;
  left: 50%;
  position: absolute;
  transform: translateX(-50%);
  width: 17rem;
}

.title::after {
  content: "who i am";
  position: absolute;
  color: var(--color-basic);
  background: var(--color-white);
  left: 50%;
  bottom: -12px;
  padding: 1px 1rem;
  font-size: 1.8rem;
  transform: translateX(-50%);
}

@media screen and (min-width: 1104px) {
  .title::after {
    font-size: 2rem;
  }
}

@media screen and (max-width: 400px) {
  .title::after {
    font-size: 1.5rem;
  }
}

/* grid styling */

.grid {
  display: grid;
  gap: 3rem;
}

@media screen and (min-width: 900px) {
  .grid-1x2 {
    grid-template-columns: repeat(2, 1fr);
  }
}

/* icon */

.fas {
  font-size: 2.5rem;
}

.icon-crimson {
  color: var(--color-basic);
}

.icon-white {
  color: var(--color-white);
}

.icon-larger {
  font-size: 4rem;
}

@media screen and (min-width: 648px) {
  .icon-larger {
    font-size: 5rem;
  }
}

/* card */

.card {
  background: var(--color-background-lighter);
  text-align: center;
  border-radius: 7px;
  padding: 5rem 2.5rem;
  width: 100%;
  cursor: pointer;
  transition: all 0.3s ease;
  margin-bottom: 2rem;
}

.card__container {
  color: white;
  transition: all 0.3s ease;
}
.card__title {
  margin: 10px 0 7px;
  padding: 0;
}

.card p {
  font-size: 1.8rem;
}

.card-image img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover;
  border: 5px solid var(--color-basic);
}
.card-image .card__title {
  margin: 5px;
}

.card:hover {
  background: var(--color-basic);
}

.card:hover .fas {
  color: var(--color-white);
}

.card:hover .card-image img {
  border: var(--color-white);
}
.card:hover .card__container {
  transform: scale(1.05);
}

@media screen and (min-width: 768px) {
  .card {
    width: calc(50% - 10px);
  }
}
@media screen and (min-width: 947px) {
  .card {
    width: calc(33% - 20px);
  }
}

/* line */
.line {
  line-height: 1;
  margin-bottom: 1.5rem;
}

.line__title {
  display: flex;
  justify-content: space-between;
  font-weight: 550;
}

.line__part {
  display: inline-block;
  width: 100%;
  height: 9px;
  background: lightgrey;
  position: relative;
}

.line__part::before {
  position: absolute;
  background: var(--color-basic);
  left: 0;
  top: 0;
  height: 100%;
  content: "";
  width: var(--percent);
}

@media screen and (min-width: 768px) {
  .line__part {
    height: 6px;
  }
}

/* input */

.input {
  outline: none;
  border-radius: 7px;
  padding: 1.2rem 1rem;
  border: 1px solid lightgray;
  margin-bottom: 1.5rem;
  width: 100%;
}

/* container */

.container {
  max-width: 200rem;
  padding: 0 2.5rem;
  align-content: center;
  margin: auto;
}
@media screen and (min-width: 768px) {
  .container {
    padding: 0 5rem;
  }
}

@media screen and (min-width: 1104px) {
  .container {
    padding: 0 8rem;
  }
}

/* info */

.info {
  display: flex;
  align-items: center;
  margin: 1rem 0;
}

.info .fas {
  margin-right: 3rem;
}

.info__content {
  font-size: 1.8rem;
}

.info__head {
  font-weight: 600;
}

.info_detail {
  color: lightgray;
}

/* navigate bar */
.navbar {
  position: fixed;
  color: var(--color-white);
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  width: 100%;
  z-index: 999;
  transition: all 0.3s ease;
}

.navbar .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navbar.sticky {
  padding: 1rem 0;
  background: var(--color-basic);
}

.navbar.sticky .decor {
  color: var(--color-background);
}
.navbar__logo {
  font-weight: 600;
  font-size: 3.5rem;
  padding: 0;
  margin: 0;
}
.decor {
  color: var(--color-basic);
}
.navbar__menu {
  position: fixed;
  background: var(--color-background);
  left: -100%;
  top: 0;
  height: 100vh;
  width: 100%;
  text-align: center;
  padding: 8rem 0;
  transition: left 0.3s ease;
  list-style: none;
}

.navbar__item {
  margin-bottom: 2rem;
  transition: all 0.3s ease;
}
.navbar__item:hover {
  background: var(--color-basic);
  transform: scale(1.05);
}
.navbar__item a {
  color: var(--color-white);
  font-family: "Ubuntu", Arial, Helvetica, sans-serif;
}
.menu__btn {
  z-index: 9999;
  cursor: pointer;
  transition: all 0.3s;
}
.navbar__menu.active {
  left: 0;
}

.menu__btn i.active::before {
  content: "\f00d";
}

@media screen and (min-width: 900px) {
  .menu__btn {
    opacity: 0;
    width: 0;
  }
  .navbar__menu {
    display: flex;
    position: unset;
    height: 1%;
    padding: 0;
    margin: 0;
    justify-content: flex-end;
    background: none;
  }
  .navbar.sticky .navbar__item:hover a {
    color: var(--color-white);
    background: none;
  }
  .navbar__item {
    margin: 0 2rem 0 0;
  }

  .navbar__item:hover a {
    color: var(--color-basic);
    background: var(--color-background);
  }
}

/* home section */

.home {
  background: url("../images/banner.jpg") no-repeat center;
  position: relative;
  width: 100%;
  height: 100vh;
  min-height: 500px;
  display: flex;
  line-height: 1.2;
  background-attachment: fixed;
  background-size: cover;
  transition: all 0.3s ease;
}

.home .container {
  display: flex;
  width: 100%;
}

.home__content h1,
.home__content h2,
.home__content h3 {
  margin: 0;
  padding: 0;
  color: var(--color-white);
  text-align: left;
}

/* about me */
.about .title::after {
  content: "who i am";
}
.about__image {
  width: 100%;
  max-width: 400px;
  height: 40rem;
  border-radius: 7px;
  object-fit: cover;
  justify-self: center;
}

.about__content h3 {
  margin: 0;
}

/* theme */

.theme-dark {
  background: var(--color-background);
}

.theme-dark .title {
  color: var(--color-white);
}

.theme-dark .title::before {
  background: var(--color-white);
  padding: 0;
}

.theme-dark .title::after {
  background: var(--color-background);
}
/* services */

.services .title::after {
  content: "what i provide";
}

.services__cotainer {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

@media screen and (min-width: 768px) {
  .services__cotainer {
    flex-direction: row;
  }
}

/* skill */

.skills .title::after {
  content: "what i know";
}

.skills__content-head {
  margin-bottom: 0;
}

.skills__detail {
  align-self: center;
}

/* teams */

.teams .title::after {
  content: "who with me";
}

.carousel .card {
  width: 100%;
  overflow: hidden;
}

.owl-dots {
  text-align: center;
  margin-top: 20px;
}
.owl-dot {
  height: 13px;
  width: 13px;
  margin: 0 5px;
  outline: none !important;
  border-radius: 50%;
  border: 2px solid crimson !important;
  transition: all 0.3s ease;
}
.owl-dot.active {
  width: 35px;
  border-radius: 14px;
}
.owl-dot.active,
.owl-dot:hover {
  background: crimson !important;
}

/* contacts */

.contact__left-head {
  padding-bottom: 0;
}

.name_email {
  display: flex;
}

.contact__name {
  margin-right: 1rem;
}
.contact__right .btn {
  margin: 0;
}
.container textarea {
  resize: none;
  height: 120px;
}

/* footer section styling */
footer {
  padding: 15px 23px;
  color: #fff;
  text-align: center;
  font-size: 2rem;
}

footer a:hover {
  text-decoration: underline;
}

/* scroll up  btn */

.scroll-up-btn {
  position: fixed;
  height: 45px;
  width: 42px;
  background: crimson;
  right: 30px;
  bottom: 10px;
  text-align: center;
  line-height: 45px;
  color: #fff;
  z-index: 9999;
  font-size: 30px;
  border-radius: 6px;
  border-bottom-width: 2px;
  cursor: pointer;
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s ease;
}

.scroll-up-btn.show {
  bottom: 30px;
  opacity: 1;
  pointer-events: auto;
}
.scroll-up-btn:hover {
  filter: brightness(90%);
}
