:root {
  --color-basic: crimson;
  --color-background: #111;
  --color-background-lighter: #222;
  --color-white: #fff;
}
*,
*::after,
*::before {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 2.3rem;
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  text-align: justify;
  line-height: 1.5;
}
p {
  margin: 0;
}

a {
  text-decoration: none;
}

/*Typography*/

h1,
h2,
h3 {
  margin: 1rem 0;
  font-family: "Ubuntu", Arial, Helvetica, sans-serif;
}
h2,
h3 {
  font-weight: 500;
  padding-bottom: 2rem;
}

h2 {
  font-size: 3.5rem;
}

h3 {
  font-size: 2.5rem;
}

@media screen and (min-width: 1024px) {
  body {
    font-size: 2rem;
  }
  h1 {
    font-size: 7.5rem;
  }

  h2 {
    font-size: 4rem;
  }

  h3 {
    font-size: 3rem;
  }
}

/* button styling */

.btn {
  background: var(--color-basic);
  border-radius: 7px;
  border: 2px solid var(--color-basic);
  color: var(--color-white);
  font-weight: 500;
  outline: none;
  padding: 1rem 2rem;
  transition: all 0.3s ease;
}

.btn:hover {
  background: none;
  color: var(--color-basic);
}

/* title */

.title {
  position: relative;
  text-align: center;
  margin-bottom: 6rem;
}

.title::before {
  background-color: var(--color-background);
  bottom: 0px;
  content: "";
  height: 4px;
  left: 50%;
  position: absolute;
  transform: translateX(-50%);
  width: 17rem;
}

.title::after {
  content: "who i am";
  position: absolute;
  color: var(--color-basic);
  background: var(--color-white);
  left: 50%;
  bottom: -12px;
  padding: 1px 1rem;
  font-size: 1.8rem;
  transform: translateX(-50%);
}

@media screen and (min-width: 1024px) {
  .title::after {
    font-size: 2rem;
  }
}

/* grid styling */

.grid {
  display: grid;
  gap: 3rem;
}

@media screen and (min-width: 768px) {
  .grid-1x2 {
    grid-template-columns: repeat(2, 1fr);
  }
}

/* icon */

.fas {
  font-size: 2.5rem;
}

.icon-crimson {
  color: var(--color-basic);
}

.icon-white {
  color: var(--color-white);
}

.icon-larger {
  font-size: 5rem;
}

/* card */

.card {
  background: var(--color-background-lighter);
  text-align: center;
  border-radius: 7px;
  padding: 5rem 2.5rem;
  width: calc(50% - 20px);
  cursor: pointer;
  transition: all 0.3s ease;
  margin: 2rem 2rem;
}

.card__container {
  color: white;
  transition: all 0.3s ease;
}
.card__title {
  margin: 10px 0 7px;
  padding: 0;
}

.card p {
  font-size: 1.8rem;
}

.card-image img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover;
  border: 5px solid var(--color-basic);
}
.card-image .card__title {
  margin: 5px;
}

.card:hover {
  background: var(--color-basic);
}

.card:hover .fas {
  color: var(--color-white);
}

.card:hover .card-image img {
  border: var(--color-white);
}
.card:hover .card__container {
  transform: scale(1.05);
}

/* line */
.line {
  line-height: 1;
  margin-bottom: 1.5rem;
}

.line__title {
  display: flex;
  justify-content: space-between;
  font-weight: 550;
}

.line__part {
  display: inline-block;
  width: 100%;
  height: 5px;
  background: lightgrey;
  position: relative;
}

.line__part::before {
  position: absolute;
  background: var(--color-basic);
  left: 0;
  top: 0;
  height: 100%;
  content: "";
  width: var(--percent);
}
