<section class="about" id="about">
  <div class="container">
    <h2 class="title">About me</h2>
    <div class="grid grid-1x2">
      <img
        class="about__image"
        src="images/profile-1.jpeg"
        alt="It is author picture"
      />
      <div class="about__content">
        <h3>
          I'm Prakash and I'm a <span class="decor typing-2">Youtube</span>
        </h3>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Ullam,
          deleniti. Repellendus odio ex facere quaerat totam ab distinctio
          rerum. Beatae, alias facilis fugiat delectus placeat minus,
          praesentium repellendus error consequatur ducimus tenetur impedit
          vitae corrupti dolorem animi ex veritatis minima rerum quo quis hic
          voluptate dignissimos earum ea? Nisi, ducimus.
        </p>
        <a class="btn" href="#">Download CV</a>
      </div>
    </div>
  </div>
</section>
