<section class="contacts" id="contacts">
  <div class="container">
    <h2 class="title">Contact me</h2>
    <div class="grid grid-1x2">
      <div class="contact__left">
        <h3 class="contact__left-head">Get in touch</h3>
        <p>
          Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ex ut
          eligendi numquam soluta assumenda maxime minus exercitationem sed
          vitae cumque?
        </p>
        <div class="info">
          <i class="fas fa-user icon-crimson"></i>
          <div class="info__content">
            <div class="info__head">Name</div>
            <div class="info__detail">Nhut Duy</div>
          </div>
        </div>

        <div class="info">
          <i class="fas fa-map-marker-alt icon-crimson"></i>
          <div class="info__content">
            <div class="info__head">Address</div>
            <div class="info__detail">62/11, Hang Tre</div>
          </div>
        </div>

        <div class="info">
          <i class="fas fa-envelope icon-crimson"></i>
          <div class="info__content">
            <div class="info__head">Email</div>
            <div class="info__detail">crackonebrain@gmail.com</div>
          </div>
        </div>
      </div>
      <div class="contact__right">
        <h3 class="contact__left-head">Message me</h3>
        <form action="#">
          <div class="name_email">
            <input type="text" placeholder="Name" class="input contact__name" />
            <input
              type="email"
              placeholder="Email"
              class="input contact__email"
            />
          </div>
          <input
            type="text"
            placeholder="Subject"
            class="input contact__subject"
          />
          <textarea
            class="input contact__texarea"
            placeholder="Message ..."
            cols="30"
            rows="10"
          ></textarea>
          <button class="btn" type="submit">Send message</button>
        </form>
      </div>
    </div>
  </div>
</section>
