<nav class="navbar container">
  <h3 class="navbar__logo">Porfo<span>lio.</span></h3>
  <ul class="navbar__menu">
    <li class="navbar__item"><a href="#">Home</a></li>
    <li class="navbar__item"><a href="#">About</a></li>
    <li class="navbar__item"><a href="#">Services</a></li>
    <li class="navbar__item"><a href="#">Skills</a></li>
    <li class="navbar__item"><a href="#">Teams</a></li>
    <li class="navbar__item"><a href="#">Contacts</a></li>
  </ul>
  <div class="menu__btn"><i class="fas fa-bars icon-white"></i></div>
</nav>
