<section class="services theme-dark" id="services">
  <div class="container">
    <h2 class="title">My services</h2>
    <div class="services__cotainer">
      <div class="card">
        <div class="card__container">
          <i class="fas fa-paint-brush icon-larger icon-crimson"></i>
          <h3 class="card__title">Web Designs</h3>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa
            distinctio optio architecto doloribus accusamus quibusdam.
          </p>
        </div>
      </div>

      <div class="card">
        <div class="card__container">
          <i class="fas fa-chart-line icon-larger icon-crimson"></i>
          <h3 class="card__title">Advertising</h3>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa
            distinctio optio architecto doloribus accusamus quibusdam.
          </p>
        </div>
      </div>

      <div class="card">
        <div class="card__container">
          <i class="fas fa-code icon-larger icon-crimson"></i>
          <h3 class="card__title">Apps Design</h3>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa
            distinctio optio architecto doloribus accusamus quibusdam.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
