<section class="skills" id="skills">
  <div class="container">
    <h2 class="title">My skills</h2>
    <div class="grid grid-1x2">
      <div class="skills__content">
        <h3 class="skills__content-head">My creative skills & experiences.</h3>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Dignissimos,
          ratione error est recusandae consequatur, iusto illum deleniti quidem
          impedit, quos quaerat quis minima sequi. Cupiditate recusandae
          laudantium esse, harum animi aspernatur quisquam et delectus ipsum
          quam alias quaerat? Quasi hic quidem illum. Ad delectus natus aut hic
          explicabo minus quod.
        </p>
        <a class="btn" href="#">Read more</a>
      </div>
      <div class="skills__detail">
        <div class="line">
          <div class="line__title">
            <div>HTML</div>
            <div>90%</div>
          </div>
          <span class="line__part" style="--percent: 90%"></span>
        </div>

        <div class="line">
          <div class="line__title">
            <div>CSS</div>
            <div>60%</div>
          </div>
          <span class="line__part" style="--percent: 60%"></span>
        </div>

        <div class="line">
          <div class="line__title">
            <div>JavaScript</div>
            <div>80%</div>
          </div>
          <span class="line__part" style="--percent: 90%"></span>
        </div>

        <div class="line">
          <div class="line__title">
            <div>PHP</div>
            <div>50%</div>
          </div>
          <span class="line__part" style="--percent: 50%"></span>
        </div>

        <div class="line">
          <div class="line__title">
            <div>MySQL</div>
            <div>70%</div>
          </div>
          <span class="line__part" style="--percent: 70%"></span>
        </div>
      </div>
    </div>
  </div>
</section>
