<section class="teams theme-dark" id="teams">
  <div class="container">
    <h2 class="title">My teams</h2>
    <div class="carousel owl-carousel">
      <div class="card card-image">
        <div class="card__container">
          <img src="images/profile-1.jpeg" alt="" />
          <h3 class="card__title">Someone Name</h3>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa
            distinctio optio architecto doloribus accusamus quibusdam.
          </p>
        </div>
      </div>

      <div class="card card-image">
        <div class="card__container">
          <img src="images/profile-2.jpeg" alt="" />
          <h3 class="card__title">Someone Name</h3>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa
            distinctio optio architecto doloribus accusamus quibusdam.
          </p>
        </div>
      </div>

      <div class="card card-image">
        <div class="card__container">
          <img src="images/profile-3.jpeg" alt="" />
          <h3 class="card__title">Someone Name</h3>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa
            distinctio optio architecto doloribus accusamus quibusdam.
          </p>
        </div>
      </div>

      <div class="card card-image">
        <div class="card__container">
          <img src="images/profile-4.jpeg" alt="" />
          <h3 class="card__title">Someone Name</h3>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa
            distinctio optio architecto doloribus accusamus quibusdam.
          </p>
        </div>
      </div>

      <div class="card card-image">
        <div class="card__container">
          <img src="images/profile-5.jpeg" alt="" />
          <h3 class="card__title">Someone Name</h3>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa
            distinctio optio architecto doloribus accusamus quibusdam.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
